<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animate/120/character/act.plist@1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{44,42}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,31},{44,42}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>animate/120/character/act.plist@2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{44,42}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,31},{44,42}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>animate/120/character/act.plist@3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{46,42}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,31},{46,42}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>animate/120/character/act.plist@4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,42}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,31},{46,42}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>animate/120/character/act.plist@5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{44,42}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,31},{44,42}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>act.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a8a39581c4ed9714d1ab9c2a88a671e$</string>
            <key>textureFileName</key>
            <string>act.png</string>
        </dict>
    </dict>
</plist>